* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0 20px;
  }
  
  nav {
    margin-bottom: 20px;
    background-color: rgb(254, 237, 238);
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  
  nav li {
    display: inline-block;
    width: 150px;
    height: 10px;
    font-family: Raleway;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
  
  h1 {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 80px;
    color: rgb(254, 237, 238);
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    font-family: "Merriweather";
    font-size: 35px;
    color: rgb(241, 83, 142);
  }
  
  h3 {
    font-family: "Raleway";
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  h4 { font-family: "Raleway";
    font-size: 25px;
    font-weight: 300;
    color: rgb(254, 237, 238); 
  }
  
  p {
    font-size: 18px;
    font-family: "Raleway";
  }
  
  ul {
    font-family: "raleway";
    font-size: 18px;
    color: rgb(112, 112, 112);
    line-height: 2;
  }
  
  #swatches {
    font-weight: 800;  
    border: 4px solid rgb(254, 237, 238);
    padding: 20px;
    width: 100%;
  }


  .swatch-1 {
    background-color: rgb(241, 83, 142);
    border: 2px solid rgb(241, 83, 142);
    display: inline-block;
    line-height: 40px;
    min-width: 200px;
    width: 33%;
    height: 150px;
    padding: 20px;
    margin: 5px auto;
    text-align: center;
    position: relative;
  }
  
  .swatch-2 {
    background-color: rgb(254, 237, 238);
    border: 2px solid rgb(254, 237, 238);
    display: inline-block;
    line-height: 40px;
    width: 33%;
    min-width: 200px;
    height: 150px;
    padding: 20px;
    margin: 5px auto;
    text-align: center;
    position: relative;
  }
  
  .swatch-3 {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(112, 112, 112);
    display: inline-block;
    line-height: 40px;
    width: 33%;
    min-width: 200px;
    height: 150px;
    padding: 20px;
    margin: 5px auto;
    text-align: center;
    position: relative;
  }
  
  .swatch-4 {
    color: rgb(255, 255, 255);  
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    line-height: 40px;
    width: 33%;
    min-width: 200px;
    height: 150px;
    padding: 20px;
    margin: 5px auto;
    text-align: center;     
    position: relative;
  }
  
  .swatch-5 {
    background-color: rgb(112, 112, 112);
    border: 2px solid rgb(112, 112, 112);
    display: inline-block;
    line-height: 40px;
    width: 33%;
    min-width: 200px;
    height: 150px;
    padding: 20px;
    margin: 5px auto;
    text-align: center;  
    position: relative;
  }
  
  .swatch-6 {
    color: rgb(255, 255, 255);  
    background-color: rgb(43, 46,52);
    border: 2px solid rgb(43, 46,52);
    display: inline-block;
    line-height: 40px;
    width: 33%;
    min-width: 200px;
    height: 150px;
    padding: 20px;
    margin: 5px auto;
    text-align: center;  
    position: relative;

  }
  
  .merriweather {
    font-family: "Merriweather";
    font-size: 18px;
    color: rgb(112, 112, 112);
    background-color: rgb(254, 237, 238);
    width: 49%;
    height: 100%;
    padding: 0 20px;
    display: inline-block;
    margin: 0 auto;
  }
  
  .merriweather p {
    font-family: "merriweather";
  }
  
  .merriweather h3 {
    font-family: "merriweather";
  }
  
  .raleway {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 140%;
    color: rgb(112, 112, 112);
    background-color: rgb(254, 237, 238);
    width: 49%;
    height: 100%;
    padding: 0 20px;
    display: inline-block;
    margin: 0 auto;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .italics {
    font-style: italic;
  }
  
  .banner {
    background-color: rgb(112, 112, 112);
    padding: 10px 30px;
    top: 140px;
  }
  
  .font-styles, .font-samples {
    border: 4px solid rgb(254, 237, 238);
    padding: 20px;
    margin: 10px;
    width: 100%;
  }
  
  .font-styles h1 {
    text-align: left;
    background-color: rgb(112, 112, 112);
  }
  
  .font-styles h4 {
     background-color: rgb(112, 112, 112);
  }

  .font-samples {
    display: inline-flex;
  }
  
  .intro h4 {
    text-align: center;
  }

